
stores/CWTS Leiden Ranking 2022.xlsx
stores/OECD_REGPAT/202202_CPC_Classes.7z
stores/OECD_REGPAT/202202_EPO_Inv_reg.7z
stores/OECD_REGPAT/202202_PCT_Inv_reg.7z
stores/OECD_REGPAT/OECD_HAN/202202_HAN_PATENTS.7z
stores/CWTS_Leiden_ranking_2022/CWTS Leiden Ranking 2022.xlsx
stores/EU_research_projects/H2020_projects/.Rhistory
stores/CWTS_Leiden_Ranking/CWTS Leiden Ranking 2022.xlsx
